<!DOCTYPE html>
<%! 
import sys
%>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>samurai-x</title>
		<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.7.2.custom.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#tabs').tabs();
			});
		</script>
	</head>
    <style type="text/css">
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 0px; background: black}
            h1.title { color: #fff; padding: 10px; }
    </style>

	<body>

    <div style="text-align:right">
    <img src="/static/img/samuraix-small.png" />
    </div>
    
    <div id="tabs">
        <ul>
            % for tab in all_tabs.itervalues():
                <li><a href="#tab-${tab.htmlname}">${tab.name}</a></li>
            % endfor
        </ul>
        % for tab in all_tabs.itervalues():
            <div id="tab-${tab.htmlname}">
                ${tab.html()}
            </div>
        % endfor
	</body>
</html>


